/node_modules
/public/hot
/public/storage
/public/assets/uploads
/storage/*.key
/vendor
/.idea
/phpmyadmin
.env
/.htaccess
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


